header ul li, nav ul li {
    display: inline
}

.no-liststyle ul, header ul, nav ul {
    list-style: none
}

.photo, h1 {
    font-weight: 700;
    text-transform: capitalize
}

.barcolor, .resetbutton, .social, a, a:HOVER, header ul, nav ul {
    text-decoration: none
}

#overlay-close, #pagecounter, .nav-sub-left, .photo, aside, h1, nav {
    font-weight: 700
}

.artical-section h1, .barcolor, .resetbutton, .section-table td, .social {
    vertical-align: middle
}

body {
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    text-align: justify
}

h1 {
    font-size: 15px
}

a {
    color: inherit
}

header {
    color: #0099cf;
    background-color: #fff;
    padding: 5px;
    height: 55px
}

form {
    line-height: 40px
}

input[type=text], input[type=email] {
    height: 30px;
    width: 49%;
    font-size: 20px;
    border: thin solid #390
}

input#sterm {
    height: 17px;
    font-size: 12px;
    border: none !important;
    width: 75%
}

textarea {
    height: 80px;
    border: thin solid #390;
    width: 100%
}

table {
    border-collapse: collapse;
    width: 100%
}

th {
    background-color: #0099cf
}

.search {
    border: 1px solid #0099cf;
    border-radius: 5px;
    width: 65%
}

.search a {
    background: url(/images/search.png) no-repeat;
    padding: 0 9px
}

.overlay-form form {
    padding: 10px 25%;
    border: 1px dotted gray
}

.overlay-form form input {
    width: 100%
}

.overlay-form form table {
    width: 80%
}

.width100 {
    width: 100%
}

#logo {
    height: 55px;
    width: 200px;
    float: left;
    margin-left: 10px;
    cursor: pointer;
    background-image: url(../images/logo.png)
}

#tech-nav {
    color: #6D6E70;
    float: right;
    margin-right: 10px
}

.footer-section, .left, .nav-sub-items, .nav-sub-items ul li, .nav-sub-left, aside, section {
    float: left
}

#tech-nav ul li {
    padding: 6px 12px;
    cursor: pointer
}

#tech-nav ul li:HOVER {
    color: #0099cf
}

nav, nav a {
    color: #fff
}

#tech-nav input {
    border-radius: 5px;
    border: 1px solid #0099cf;
    padding: 2px 5px
}

nav {
    background-color: #0088bf;
    background-image: linear-gradient(top, #0088bf 31%, #0099cf 66%, #0088bf 83%);
    background-image: -o-linear-gradient(top, #0088bf 31%, #0099cf 66%, #0088bf 83%);
    background-image: -moz-linear-gradient(top, #0088bf 31%, #0099cf 66%, #0088bf 83%);
    background-image: -webkit-linear-gradient(top, #0088bf 31%, #0099cf 66%, #0088bf 83%);
    background-image: -ms-linear-gradient(top, #0088bf 31%, #0099cf 66%, #0088bf 83%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0088bf, endColorstr=#0099cf);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(.31, #0088bf), color-stop(.66, #0099cf), color-stop(.83, #0088bf));
    line-height: 30px
}

nav ul {
    margin: 0
}

nav ul li {
    padding: 6px 12px
}

#menu-data, #nav-submenu {
    display: none
}

nav ul li:HOVER {
    background-color: #0F3B68;
    border-radius: 5px
}

#nav-submenu {
    position: absolute;
    width: 100%;
    background-color: #c7e6f5;
    z-index: 998
}

.nav-sub-left {
    width: 200px;
    background-color: #A9E2F3;
    color: #1E88E5;
    padding-bottom: 10px;
    height: 130px
}

.nav-sub-left ul li {
    display: block;
    padding: 0 0 0 10px
}

.nav-sub-items ul li {
    width: 110px;
    height: 100px;
    margin: 10px;
    box-shadow: 5px 5px 5px #666;
    background-color: #eee;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center
}

.nav-sub-left ul li:HOVER {
    background-color: #c7e6f5;
    border-radius: 8px 0 0 8px
}

.nav-sub-items ul li:HOVER {
    box-shadow: 3px 3px 3px #666;
    background-color: #eee
}

.nav-sub-left ul li div {
    display: none
}

.artical-thumb, .inline ul li {
    display: inline
}

.nav-sub-items ul li a {
    color: #603
}

section {
    width: 68%;
    padding: 10px 10px 10px 35px;
    background-color: #fff;
    line-height: 22px;
    letter-spacing: 1px;
    min-height: 300px
}

.artical-thumb, .artical-thumb img {
    width: 100px;
    height: 100px
}

section a {
    color: #1E88E5
}

.artical-section ul {
    padding-left: 0
}

.artical-block, .artical-section {
    word-wrap: break-word;
    padding-left: 10px
}

.artical-section h1 {
    font-size: 20px;
    display: inline-block;
    margin-top: -50px
}

.artical-section h2 {
    font-size: 15px
}

.articals ul {
    padding-left: 60px
}

.articals ul li:before {
    display: block;
    float: left;
    width: 1.2em;
    color: #3a3;
    font-weight: 700
}

.artical-subtitle {
    color: gray;
    margin-top: -10px
}

.artical-subtitle img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    width: 30px;
    height: 30px
}

#overlay-close, .social {
    cursor: pointer;
    border-radius: 180px
}

.artical-author {
    color: #000
}

.artical-date {
    font-size: 10px;
    letter-spacing: 0;
    color: gray
}

.gray-line {
    border-bottom: solid #ddd 1px
}

aside {
    width: 25%;
    padding: 5px;
    color: #1E88E5
}

.aside-section {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding-bottom: 5px
}

.aside-title {
    color: #555;
    background-color: #eef;
    border-left: solid thick #0099cf;
    line-height: 25px;
    padding-left: 10px
}

footer, footer a {
    color: #fff
}

aside h1 {
    margin-top: 0
}

.aside-contents ul li {
    display: block !important;
    line-height: 30px
}

.footer-contents, .overlay-title {
    line-height: 25px
}

footer {
    background-color: #37474F;
    clear: both;
    padding: 5px;
    min-height: 120px
}

.footer-section {
    max-width: 30%;
    padding: 15px 30px
}

footer span {
    padding: 10px
}

.layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    filter: alpha(opacity=30);
    background-color: #000;
    z-index: 998
}

#overlay-contents, #overlay-contents-image {
    position: fixed;
    z-index: 999;
    left: 15%;
    top: 80px;
    background-color: #fff;
    padding: 15px
}

#overlay-contents {
    right: 20%;
    overflow: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    min-width: 7in
}

#overlay-contents-image {
    max-width: 60%;
    max-height: 60%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8)
}

#overlay-contents-image img {
    width: 100%;
    max-height: 60%
}

.overlay-contents-wrapper {
    margin-top: 30px
}

#overlay-close {
    position: fixed;
    right: 17%;
    top: 50px;
    z-index: 999;
    padding: 3px;
    background-color: #eee
}

#overlay-close:HOVER, .social {
    background-color: gray
}

.overlay-title {
    margin: -25px -15px;
    padding: 0 15px
}

#main-container {
    min-height: 7in
}

.inline {
    display: inline;
    padding: 10px
}

.copyright {
    font-size: 10px;
    color: gray
}

#facebook {
    background-image: url(../images/social/fb.png)
}

#twitter {
    background-image: url(../images/social/twitter.png)
}

#youtube {
    background-image: url(../images/social/youtube.png)
}

.social {
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px;
    text-indent: -900em;
    color: #333;
    line-height: 100%;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    margin: 0 2px 5px 0
}

.social:HOVER {
    background-color: #eee
}

.list25px ol li {
    line-height: 25px
}

.right {
    float: right
}

.photo img {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8)
}

.submitbutton {
    border-radius: 9px;
    font-size: 17px;
    cursor: pointer
}

.resetbutton, .submitbutton {
    padding: 10px 0;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px
}

.submitbutton:hover {
    background: #0288D1
}

.resetbutton {
    border-top: 1px solid #d7deda;
    background: #7d9c95;
    background: -webkit-gradient(linear, left top, left bottom, from(#e1e8e8), to(#7d9c95));
    background: -webkit-linear-gradient(top, #e1e8e8, #7d9c95);
    background: -moz-linear-gradient(top, #e1e8e8, #7d9c95);
    background: -ms-linear-gradient(top, #e1e8e8, #7d9c95);
    background: -o-linear-gradient(top, #e1e8e8, #7d9c95);
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: #fff;
    font-size: 18px;
    font-family: Georgia, serif;
    cursor: pointer
}

.barcolor, .resetbutton {
    border: none;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0
}

.resetbutton:hover {
    border: none;
    border-top-color: #bac4c4;
    background: #bac4c4;
    color: #fff
}

.barcolor {
    background: #0091EA;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: #fff
}

.pageimage {
    margin-left: auto;
    margin-right: auto;
    width: 70%
}

.pageimage img {
    cursor: pointer;
    width: 100%
}

.pageimage img:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8)
}

.leftbar {
    position: fixed;
    background-color: #ddd;
    margin-top: 10%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    left: 0
}

.baritem {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
    padding-bottom: 10px;
    display: block
}

.baritem:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    cursor: pointer
}

#index {
    background-image: url(../images/label.png)
}

#comment {
    background-image: url(../images/comment.png)
}

#like {
    background-image: url(../images/like.png)
}

.barcontents {
    margin-left: 26px;
    position: absolute;
    background-color: #fff;
    padding: 5px 8px;
    color: #1E88E5;
    border: thin solid;
    display: none
}

.barcontents ul {
    padding: 0;
    margin: 0;
    line-height: 22px;
    color: #1E88E5
}

.barcontents ul li {
    white-space: nowrap;
    display: block
}

.barcontents ul li:HOVER {
    background-color: #eef
}

#leftbar-contents {
    display: none
}

a.button-linkedin {
    background: -moz-linear-gradient(top, #009cda, #0073b2);
    background: -webkit-linear-gradient(top, #009cda, #0073b2);
    border: 1px solid #0073b2;
    text-shadow: 0 -1px -1px #005486
}

a.button-linkedin:hover {
    background: -moz-linear-gradient(top, #0073b2, #009cda);
    background: -ms-linear-gradient(top, #0073b2, #009cda);
    background: -webkit-linear-gradient(top, #0073b2, #009cda)
}

a.button-facebook, a.button-linkedin, a.button-twitter {
    border-radius: 3px;
    box-shadow: 0 1px 1px #999;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    width: 140px
}

.tag {
    background-color: #efefef;
    padding: 2px 5px;
    margin: 10px
}

.comment-block {
    margin: 20px 0 20px 20px
}

.comment-item {
    overflow: hidden;
    clear: both;
    padding: 10px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    margin: 5px
}

.comment-avatar {
    width: 60px;
    float: left
}

.comment-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 5px
}

.comment-post {
    width: 90%;
    float: left;
    padding: 0 5px 0 10px;
    word-break: break-word
}

#pagecounter {
    letter-spacing: 4px;
    color: #fff;
    line-height: initial;
    text-align: right;
    margin-right: 10px;
    margin-top: -20px;
    height: 12px
}

#pagecounter span {
    background-color: #07f
}

.section-table table tr:first-child td:first-child {
    -moz-border-radius-topleft: 14px;
    -webkit-border-top-left-radius: 14px;
    border-top-left-radius: 14px
}

.section-table table tr:first-child td:last-child {
    -moz-border-radius-topright: 14px;
    -webkit-border-top-right-radius: 14px;
    border-top-right-radius: 14px
}

.section-table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 14px;
    -webkit-border-bottom-left-radius: 14px;
    border-bottom-left-radius: 14px
}

.section-table tr:nth-child(odd) {
    background-color: #aad4ff
}

.section-table tr:nth-child(even) {
    background-color: #fff
}

.section-table td {
    border: 1px solid #000;
    border-width: 0 1px 1px 0;
    text-align: left;
    padding: 7px;
    color: #000
}

.section-table tr:last-child td {
    border-width: 0 1px 0 0
}

.section-table tr td:last-child {
    border-width: 0 0 1px
}

.section-table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 14px;
    -webkit-border-bottom-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-width: 0
}

.section-table tr:first-child td {
    background-color: #005fbf;
    border: 0 solid #000;
    text-align: center;
    border-width: 0 0 1px 1px;
    color: #fff
}

.error, .redtxt {
    color: red
}

.section-table tr:first-child td, .section-table tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #005fbf 5%, #005fbf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #005fbf), color-stop(1, #005fbf));
    background: -moz-linear-gradient(center top, #005fbf 5%, #005fbf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#005fbf");
    background: -o-linear-gradient(top, #005fbf, 005 fbf)
}

.section-table tr:first-child:hover td {
    background-color: #005fbf
}

.section-table tr:first-child td:first-child {
    border-width: 0 0 1px;
    border-top-left-radius: 14px
}

.section-table tr:first-child td:last-child {
    border-width: 0 0 1px 1px;
    border-top-right-radius: 14px
}

.overflow {
    overflow: auto
}

#fmsg {
    background-color: #EEE;
    border: solid teal;
    padding: 0 15px
}

.blinkmsg {
    -moz-animation-duration: 400ms;
    -moz-animation-name: blink;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -webkit-animation-duration: 400ms;
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-duration: 400ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

@-moz-keyframes blink {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes blink {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes blink {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

#statusbar {
    position: static;
    margin-top: 0;
    margin-left: 0;
    background-color: #0099cf;
    width: 0;
    height: 3px
}

.pln {
    color: #000
}

@media screen {
    .str {
        color: #080
    }

    .kwd {
        color: #008
    }

    .com {
        color: #800
    }

    .typ {
        color: #606
    }

    .lit {
        color: #066
    }

    .clo, .opn, .pun {
        color: #660
    }

    .tag {
        color: #008
    }

    .atn {
        color: #606
    }

    .atv {
        color: #080
    }

    .dec, .var {
        color: #606
    }

    .fun {
        color: red
    }
}

@media print, projection {
    .kwd, .tag, .typ {
        font-weight: 700
    }

    .str {
        color: #060
    }

    .kwd {
        color: #006
    }

    .com {
        color: #600;
        font-style: italic
    }

    .typ {
        color: #404
    }

    .lit {
        color: #044
    }

    .clo, .opn, .pun {
        color: #440
    }

    .tag {
        color: #006
    }

    .atn {
        color: #404
    }

    .atv {
        color: #060
    }
}

pre.prettyprint {
    padding: 2px;
    border: 1px solid #888;
    overflow: auto;
    background: #f7f7f8
}

pre.command {
    background-color: #000 !important
}

pre.command span {
    color: #fff !important
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    background: #fff
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
    list-style-type: decimal;
    background: #f7f7f8
}

li.L1, li.L3, li.L4, li.L5, li.L7, li.L9 {
    background: #f7f7f8
}
